
/* ================================== */
/* Collapsing block */
/* ================================== */

.collapsBlock {
    // height:165px;
    position: relative;
    margin-bottom: 30px;
    h5 { margin: 0 1%;}
    p { margin: 0; padding: 5%;}

    &__header{
        height: 30px;
        position: relative; // for caret abs positioning
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $orange-main;
        color:$white;
        @include border-radius(5px);
        
        &__caret-wrapper {
            position: absolute;
            right:5px;
            img { // caret
                @include icon-base;
                height:1em;
                &.up { transform: rotate(180deg);} // caret points upwards when dropdown is open
            }
        }
    }
    &__body{
        height:0;
        &--active {
            height:135px;
            transition: height 0.5s;
            width: 100%;
            background-color: $grey;
            color:$orange-main;
            @include border-radius(5px);
        }
    }
}   