/* ================================== */
/* Header */
/* ================================== */

.header-wrapper {
    position: fixed;
    height: 100px;
    width:100vw;
    border: 2px solid red;
    background-color: $white;
    .header {
        @include flex(row, nowrap);
        justify-content: space-between;
        align-items: center;
        &__logo-wrapper {
            border: 2px solid blue;
            @include min-1200px {
                width: 13.125em; //240px;
            }
            .main-logo{ height: 4.375em; }// 70px;
        }
    }
}
