/* ================================== */
/* Top Nav */
/* ================================== */

.topnav-wrapper {
    border: 2px solid grey;
    width: 265px;

    .top-nav {
        li {
            display: inline;

            a {
                color: $orange-main;
            }
        }
    }
}
