
/* ================================== */
/* Carousel */
/* ================================== */
.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    height: 300px;
    border:2px solid red;
    position: relative;
    display: flex;
    // @include max-600px {height:255px;}
    // @include min-992px {height:410px;}
    @include calcResponsiveSize(320px, 255px, 75vw, 415px);
    &__inner {//  //contains carousel nav
        position: absolute;

        .carousel-img{
            width:100%;
        }
    }
}