/* ================================== */
/* Gallery */
/* ================================== */

.gallery-wrapper {
    background-color: $grey;
    ul { 
        @include flex(row, wrap);
        justify-content: space-between;
        li { 
            border: 2px solid blue;
            margin-bottom:5%;
            overflow: hidden;
            
            @include max-600px {
                flex-basis:100%;
                
                .galleryItem {//figure
                    position:relative;
                    margin:0;
                    img {
                        min-height:255px;
                        width:100%;
                        display: block;
                        object-fit: cover;
                        overflow: hidden;
                    }
                    figcaption { position: absolute; margin: -10% 5%; }
                }
            }
            @include min-600px {
                flex-basis:30%;
                .galleryItem {//figure
                    position:relative;
                    margin:0;
                    img {
                        min-height:340px;
                        width:100%;
                        display: block;
                        object-fit: cover;
                        overflow: hidden;
                    }
                    figcaption { position: absolute; margin: -10% 5%; }
                }
            }            
        }
    }
}