/* ================================== */
/* General rules */
/* ================================== */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 100%; /* = 16px default */
    text-rendering: optimizeLegibility;
    font-family:'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
